/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Import Theme color*/
@import url('./theme.css');

* {margin: 0; padding: 0; box-sizing: border-box;font-family: 'Poppins', sans-serif; scroll-behavior: smooth;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    * {font-size: 0.8rem;}
}

@media only screen and (min-width: 768px) {
    /* For Tablets e computadores com baixa resolução: */
    * {font-size: 0.7rem;}
}

@media only screen and (min-width: 1400px) {
    /* For desktop: */
}

/*Estilo de texto*/
h1, h2, h3, h4, h5 {font-weight: 400;}
h1 {font-size: 2.8rem;}
h2 {font-size: 2.7rem;}
h3 {font-size: 2.1rem; font-weight: 400;}
P {color: var(--text-color2); font-size: 1.1rem; font-family:  'Poppins', sans-serif;}
a {text-decoration: none; color: var(--text-color2); font-size: 1.2rem;}
.font-title {font-family: 'Staatliches', cursive; color: var(--background-dark-l4);}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}


@media only screen and (max-width: 768px) {
    p {font-size: 1.3rem;}
}

/*Estilos genericos*/

.p-1 {padding: 1%;}
.pt-1 {padding-top: 1%;}
.pr-1 {padding-right: 1%;}
.pb-1 {padding-bottom: 1%;}
.pl-1 {padding-left: 5px;}

.mgt-1 {margin-top: 10px}
.mgt-2 {margin-top: 20px}
.mgt-3 {margin-top: 30px}
.mgb-0 {margin-bottom: 0px;}
.mgb-1 {margin-bottom: 10px;}
.mgb-2 {margin-bottom: 20px;}
.mgb-3 {margin-bottom: 30px;}
.mgl-1 {margin-left: 10px;}
.w-100 {width: 100%;}

.d-block {display: block;}
.d-flex {display: flex; }

.horizon-center {justify-content: center;}
.align-item-center {align-items: center;}

.background-light-l1 {background-color: var(--background-light-l1);}
.background-light-l2 {background-color: var(--background-light-l2);}
.background-light-l3 {background-color: var(--background-light-l3);}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.cols {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .cols-1 {width: 8.33%;}
    .cols-2 {width: 16.66%;}
    .cols-3 {width: 25%;}
    .cols-4 {width: 33.33%;}
    .cols-5 {width: 41.66%;}
    .cols-6 {width: 50%;}
    .cols-7 {width: 58.33%;}
    .cols-8 {width: 66.66%;}
    .cols-9 {width: 75%;}
    .cols-10 {width: 83.33%;}
    .cols-11 {width: 91.66%;}
    .cols-12 {width: 100%;}

    
    .cols-6.cols-pl-1 {padding-left: 1%;}
    .cols-6.cols-pr-1 {padding-right: 1%;}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="cols-"] {
    width: 100%;
    padding: 0
  }
  .cols-6.cols-pl-1 {padding-left: 0%;}
  .cols-6.cols-pr-1 {padding-left: 0%;}
}
